<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid">
      <div class="jumbotron text-center">
        <h1>Mission to Mars</h1>
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button" ><b>Scrape New Data</b></a></p>
      </div>

      <h2><b>Latest Mars News</b></h2>
      <h3><b>{{ mars.News_Title }}</b></h3>
      <h4>{{ mars.News_p }}</h4>
      <br>
      
      <div class="container-fluid">
        
        <div class="col-lg-8">
          <h3><b>Featured Mars Image</b></h3>
          <img src="{{ mars.Featured_Image }}" alt="Featured_Img" class="img-thumbnail float-left w-50 h-50">
        </div> 
        
        <div class="col-lg-4">
          <h3><b>Current Weather on Mars:</b></h3>
          <br>
          <h4><p>{{ mars.Mars_Weather }}</p></h4>
          <br>
          <h3><b>Mars Facts</b></h3>
          <h4>{{ mars.Mars_Facts | safe }}</h4>
        </div>
      </div>
      <br>
      
      <h></h>

      <div class="container text-center">
        <h1 class="text-center"><b>Mars Hemispheres</b></h1>
        <hr>

        
        <div class="row">

          <div class="col-lg-6">
            <img class="card-img-top float-right" style="width: 100%; height: 100%;" src="{{ mars.Image_One }}" alt="First_Hemi_Img">
            <h4><b>{{ mars.Title_One }}</b></h4>
          </div>
          
          <div class="col-lg-6">
            <img class="card-img-top float-right" style="width: 100%; height: 100%;" src="{{ mars.Image_Two }}" alt="First_Hemi_Img">
            <h4><b>{{ mars.Title_Two }}</b></h4>
          </div>
        </div>
        
        <div class="row">

          <div class="col-lg-6">
            <img class="card-img-top float-right" style="width: 100%; height: 100%;" src="{{ mars.Image_Three }}" alt="First_Hemi_Img">
            <h4><b>{{ mars.Title_Three }}</b></h4>
          </div>
          
          <div class="col-lg-6">
            <img class="card-img-top float-right" style="width: 100%; height: 100%;" src="{{ mars.Image_Four }}" alt="First_Hemi_Img">
            <h4><b>{{ mars.Title_Four }}</b></h4>
          </div>
        </div>

      </div>
          
    </div>
</body>
</html>